* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Source+Code+Pro&display=swap");

body {
  width: 100%;
  font-family: "Lora", serif;
  background-color: #f3f3f6 !important;
}

body h1,
h2 {
  font-family: "Source Code Pro", monospace;
}
